#root {
  max-width: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  width: 25rem;
  margin: 3rem;
  padding: 1%;
}
.card-title {
  padding: 1.5% 0 1.5% 0;
  text-align: center;
}
.card-text {
  margin-top: 5%;
  border: #fff 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.75vh;
  padding-bottom: auto;
}
.navbar {
  font-size: 2.5vh;
}
.navlink {
  margin-left: 70%;
}
.card-cover {
}

@media screen and (min-width: 280px) and (max-width: 1024px)
  {
    .navlink {
      margin-left: 0;
    }
    .card {
      margin-top: 1rem;
      margin-right: 0.5rem;
      margin-left: 1.25rem;
    }
    .card-cover {
      width: auto;
      height: auto;
      padding: 1%;
    }
 }
